<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://baidu.com " target="_blank" class="link">XXX</a> |
            <a href="http://baidu.com " target="_blank" class="link">XXX</a> |
            <a href="http://baidu.com " target="_blank" class="link">XXX</a> |
            <a href="http://baidu.com " target="_blank" class="link">XXX</a>
            <p class="copyright">
                copyright @2018 xxxx.com ALL Right REserve
            </p>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>